
<div style="margin-top: 30px;">
  <div class="card mx-auto" style="max-width: 400px;">
    <div class="card-body text-center">
      <h5 class="card-title">Información del cliente</h5>
      <%= image_tag('user.jpg', alt: 'Usuario', class: 'mx-auto d-block', style: 'width: 100px; height: 100px;') %>
      <p class="card-text">id: <%= @client.id %></p>
      <p class="card-text">Nombre: <%= @client.name %></p>
      <p class="card-text">Edad: <%= @client.age %></p>
    </div>
  </div>
</div>

<div class="text-center" style="margin-top: 30px;">
  <%= link_to "Editar", edit_client_path(@client), class: "btn btn-primary btn-sm" %> |
  <%= link_to "Volver", clients_path, class: "btn btn-info btn-sm" %>
  <%= button_to "Eliminar", @client, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "¿Estás seguro?" } %>
</div>